<html lang="en">

  <head>
    <title>Welcome Loopie Washers and Drivers</title>
  </head>

  <body>
    <
    <button type="button" class="success">zucc</button>
    <button type="button" class="danger">zuccn't</button>

  </body>

</html>
