.btn {
  border-radius: 75px;
  margin-bottom: 1em;
  color: $ColorDark;
}

.btn-primary,
.btn-primary:active,
.btn-primary:visited {
  background-color: $ColorLoopie;
}

.btn-primary:hover {
  background-color: $ColorBlue;
}

.btn-success,
.btn-success:active,
.btn-success:visited {
  background-color: $ColorGreen;
}


.btn-success:hover {
  background-color: $ColorGreen_Hover;
}

.btn-danger,
.btn-danger:visited {
  background-color: $ColorRed;
}

.btn-danger:hover {
  background-color: $ColorRed_Hover;
}
