.btn {
  border-radius: 3px;
  margin-bottom: 1em;
  color: $ColorDark;
}

.btn-primary,
.btn-primary:active,
.btn-primary:visited {
  background-color: $ColorBlue;
  border-width: 0em;
  box-shadow: $DropShadowDark;
  @include transition(all);
  color: $ColorWhite;
  font-weight: $bold;
  &:active {

  }

  &:hover {
    background-color: $ColorLoopie;
    box-shadow: 0 0.6em 15px rgba(0, 0, 0, 0.6);
    color: $ColorBlue;

  }
}

.btn-secondary,
.btn-secondary:active,
.btn-secondary:visited {
  background-color: $ColorBlue;
  border-width: 0em;
  box-shadow: $DropShadow;
  @include transition(all);
  color: $ColorWhite;
  font-weight: $bold;
  &:active {

  }

  &:hover {
    background-color: $ColorLoopie;
    box-shadow: 0 0.5em 15px rgba(0, 0, 0, 0.3);
    color: $ColorBlue;

  }
}


.btn-success,
.btn-success:active,
.btn-success:visited {
  background-color: $ColorGreen;
}


.btn-success:hover {
  background-color: $ColorGreen_Hover;
}

.btn-danger,
.btn-danger:visited {
  background-color: $ColorRed;
}

.btn-danger:hover {
  background-color: $ColorRed_Hover;
}
