//forms

.form-group {
  //@extend .text-light;
}

.form-shared {
  width: 100%;
  padding: 1em;
  margin: 0 auto;

  img {
    width: 14em;
  }
}

// form defaults to light input
.form-control {
  background-color: $ColorNotWhite;
  border-radius: 3px;
  color: $ColorGrey;
  border-width: 0;
  margin-bottom: 1.2em;
  height: 2.8em;
  @include transition(all);

  &:focus {
    color: $ColorDark;
    //border-width: 1px;
    box-shadow: $DropShadow;
    border-color: $ColorBlue;
  }

  &::placeholder {
    color: $ColorGrey;
  }
}

//form dark mode
.form-dark {
  background-color: $ColorGrey;
  color: $ColorWhite;

  &:focus {
    box-shadow: $DropShadowDark;
    color: $ColorDark;
    border-width: 0;
    background-color: $ColorWhite;

    &::placeholder {
      color: $ColorGrey;
    }
  }

  &::placeholder {
    color: $ColorGreyDark;
  }

}

.form-text-area {
  border-radius: 3px;
}
