body {
  background-color: $ColorDark;
}
//fixing text for dark background
.text-light {
  color: $ColorNotWhite;
}

.text-dark {
  color: $ColorDark;
}

// scss for buttons



.flex-center {
  align-items: center;
  justify-content: center;
  padding-top: 3em;
  padding-bottom: 3em;
  text-align: center;
}

.container-light {
  background-color: $ColorWhite;
  border-radius: 5px;
  padding-left: 1em;
  padding-right: 1em;
  box-shadow: $DropShadowDark;
  margin-bottom: 1em;
}

.img-big {
  width: 5em;
  height: 5em;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(teletubbies.jpg);

}

.round {
  border-radius: 50%;
}
