//fixing text for dark background
.text-light {
  color: $ColorNotWhite;
}

.text-dark {
  color: $ColorDark;
}

// scss for buttons



.flex-center {
  align-items: center;
  justify-content: center;

}


.container-light {
  background-color: $ColorWhite;
  border-radius: 5px;
  padding-left: 1em;
  padding-right: 1em;
  box-shadow: $DropShadowDark;
  margin-bottom: 1em;
}



@mixin transition($property) {
  transition: $property ease-in-out 0.15s;

}
