.navbar-loopie {
  background-color: $ColorDark;

  [aria-expanded="true"] {
    .icon-bar {
      background-color: $ColorLoopie;
    }
  }

  li {
    a:hover {
      color: $ColorLoopie;
    }
  }

  a {
    color: $ColorWhite;
    @include transition(all);

    &:hover {
      color: $ColorLoopie;

    }

    &:active,
    &:focus {
      
    }
  }

  .dropdown-menu.show {
    background-color: $ColorGrey;

      .dropdown-item {

      }
        
  }
}

