.navbar-loopie {
  background-color: $ColorDark;

  [aria-expanded="true"] {
    .icon-bar {
      background-color: $ColorLoopie;
    }
  }

  .navbar-nav .dropdown-menu {
    background-color: $ColorGrey;

  }
  li {

    a:hover {
      color: $ColorLoopie;
    }
  }



  a {
    color: $ColorWhite;
    @include transition(all);

    &:hover {
      color: $ColorLoopie;

    }
    &:active,
    &:focus {
      
    }
  };
}
