@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900');




body {
  font-size: $font-size-base;
  font-family: 'Roboto', sans-serif;
  @include breakpoint(bp-medium) {
    font-size: $font-size-base-medium;
  }

  @include breakpoint(bp-large) {
    font-size: $font-size-base-large;
  }
}


.text-light {
  color: $ColorNotWhite;
}

.text-dark {
  color: $ColorDark;
}

h1, {
  font-size: 2em;
  color: $ColorLoopie;
  text-transform: capitalize;
  font-weight: $black;

}
h2, {
    font-size: 1.2em;
  color: $ColorDark;
  font-weight: $medium;

  font-size: 1em;
}
h3, {
font-size: 1em;
}
h4 {
font-size: 1em;
}
