//
//   Variables should go here.
//

//Loopie Brand colors as of 18/9/2018

$ColorDark: #222627;
$ColorLoopie: #FFC700;
$ColorBlue: #0052CC;
$ColorGreen: #2ABD88;
$ColorWhite: #FFFFFF;
$ColorNotWhite: #EEEEEE; // to be used along with dark background
$ColorGrey: #949494;
$ColorGreyDark: #4B4B4B;

$DropShadow: 0 0.1em 10px rgba(0, 0, 0, 0.25);
$DropShadowDark: 0 0.3em 10px rgba(0, 0, 0, 0.5);


$ColorRed: #D32F2F;


// color scheme with hovering
$ColorGreen_Hover: #12542E;
$ColorBlue_Hover: #00388C;
$ColorLoopie_Hover: #C19700;
$ColorRed_Hover: #AA2525;
