// Place all the styles related to the admins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.table {
  h2,
  p {
    color: $ColorWhite;
  }
}

$sidebar-length: 20rem;
.admin-console {

  position: absolute;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  overflow: hidden;
  left: 0;
  top: 0;


  .sidebar {
    position: absolute;
    pointer-events: auto;
    width: $sidebar-length;
    height: 100%;
    background-color: $ColorDark;
    color: $ColorLoopie;
    font-weight: $black;
    h2, h3 {

    }
    h2 {

    } 
  }

  .top-nav-bar {
    pointer-events: auto;
    background-color: $ColorWhite;
    margin-left: $sidebar-length;


    .breadcrumb {

    }
    .logout {

      margin: 2rem;
      a {
        font-weight: $black;
        color: $ColorDark;


      }
    }

  }

}
.sidebar-main {
  background-color: $ColorWhite;
  width: 100%;
  height: auto;
  overflow-x: hidden;
  padding-left: $sidebar-length;
}
