// Place all the styles related to the admins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.table {
  padding: 1em;
}
$sidebar-length: 15rem;

.admin-console {
  position: fixed;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  overflow: hidden;
  left: 0;
  top: 0;

  .sidebar {
    position: absolute;
    pointer-events: auto;
    width: $sidebar-length;
    height: 100%;
    background-color: $ColorDark;
    padding-left: 2em;
    color: $ColorLoopie;
    font-weight: $black;

    h2,
    h3 {
      color: $ColorLoopie;
      font-weight: $black;
      margin-bottom: 0.1rem;
    }

    h2 {
      font-size: 2em;
      margin-top: 0.1rem;
    }

    .nav-brand {}
  }

  .top-nav-bar {
    pointer-events: auto;
    background-color: $ColorWhite;
    margin-left: $sidebar-length;
    border-radius: 0;
    border-width: 0;
    height: 5em;

    .breadcrumb {}

    .logout {
      margin: 2rem;

      a {
        font-weight: $black;
        color: $ColorDark;
      }
    }
  }
}

.sidebar-main {
  background-color: $ColorWhite;
  width: 100%;
  height: auto;
  overflow: hidden;
  padding-left: $sidebar-length;
  z-index: 1;
    color: $ColorDark;


  .table {
    padding-top: 0;
    padding-bottom: 0;
  }
  .user-card {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin-bottom: 0;

    &::-webkit-scrollbar {
      width: 0;
    }

  }

  .card-deck {
    flex-flow: row;
  }
  h1,  h2,
  p {
    color: $ColorDark;
    font-weight: $black;
    margin-bottom: 0;

  }
  .row {
    margin-bottom: 0.5em;
  }

  .card-light {
    width: 20em;
    min-width: 20em;
    box-shadow: $DropShadow;
    margin: 0.5em;


  }

  .list {
    box-shadow: $DropShadow;

    border-radius: 3px;

  }
}
