// Place all the styles related to the DriverSession controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the WasherSession controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.logo {
    width: 17%;
    height: auto;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .form-control {
        width: 18rem;
        align-self: center;
        margin-bottom: 0;
    }

    .checkbox {
        margin-top: 1rem;

        label {
            color: $ColorWhite;
        }
    }

    .login-button {
        width: 9rem;
        align-self: center;
    }
}

.login-header {
    margin-top: 1rem;
}