// Place all the styles related to the DriverSession controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.washer-register-link {
    color: $ColorWhite;

    &:hover,
    &:focus {
        color: $ColorLoopie;
        background-color: $ColorDark;
    }
}