// Place all the styles related to the Drivers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// form styling

.profile {
  text-align: center;
  padding-left: 0em;
  padding-right: 0em;

  margin: 1.5em 0;

  .btn {
    padding-top: 1em;
    padding-bottom: 1em;
  }
}
.img-big {
    margin: 0 auto;
  width: 9em;
  height: 9em;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(teletubbies.jpg);

}
