// Place all the styles related to the Drivers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//
.profile {

  //margin: 1.5em 0;

  .btn {
    padding-top: 1em;
    padding-bottom: 1em;
  }
  //profile cards
  .card-light {
    h1 {
      color: $ColorDark;
    }

  }
}

.img-big {
    margin: 0 auto;
  width: 9em;
  height: 9em;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(teletubbies.jpg);

}
