// Place all the styles related to the Drivers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//
.profile {


  padding-bottom: 0.25em;
  .btn {
    padding-top: 1em;
    padding-bottom: 1em;
  }
  //profile cards
  .card-light {
    //margin: 0 1em;
    color: $ColorDark;
    h1 {
      color: $ColorDark;
    }
    .card-title {
      margin-bottom: 0.25em;
    }


    .card-text {
      margin-left: 20%;
    }
    .card-link {
      font-weight: $black;
      margin-bottom: -0.5em;
      //padding-bottom: 1em;
    }

  }
}

.img-big {
    margin: 0 auto;
  width: 9em;
  height: 9em;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(teletubbies.jpg);

}
