// Place all the styles related to the WasherSession controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.driver-register-link {
    color: $ColorWhite;

    &:hover, &:focus {
        color: $ColorLoopie;
        background-color: $ColorDark;
    }
}