// Place all the styles related to the WelcomePage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
  background-color: $ColorDark;
}

.flex-center {

  img {
    width: 16em;
  }
}

.form-signin {
    @extend .form-shared;
    max-width: 330px;
    margin-top: 4em;
}
