//
//   Variables should go here.
//

//Loopie Brand colors as of 18/9/2018
$ColorDark: #222627;
$ColorLoopie: #FFC700;
$ColorBlue: #0052CC;
$ColorGreen: #219653;
$ColorWhite: #FFFFFF;
$ColorRed: #D32F2F;
<<<<<<< HEAD


.text-light {
  color: $ColorWhite;
}
=======
// color scheme with hovering
$ColorGreen_Hover: #12542E;
$ColorBlue_Hover: #00388C;
$ColorLoopie_Hover: #C19700;
$ColorRed_Hover: #AA2525;
>>>>>>> 35e6a481cec9d339fb174a11b54676ab3a9d38dc
