//
//   Variables should go here.
//

//Loopie Brand colors as of 18/9/2018
$ColorDark: #222627;
$ColorLoopie: #FFC700;
$ColorBlue: #0052CC;
$ColorGreen: #219653;
$ColorWhite: #FFFFFF;
$ColorRed: #D32F2F;


// color scheme with hovering
$ColorGreen_Hover: #12542E;
$ColorBlue_Hover: #00388C;
$ColorLoopie_Hover: #C19700;
$ColorRed_Hover: #AA2525;


//fixing text for dark background
.text-light {
  color: $ColorWhite;
}

.text-dark {
  color: $ColorDark;
}

// scss for buttons

.btn {
  border-radius: 75px;
  margin-bottom: 1em;
  color: $ColorDark;
}

.btn-primary,
.btn-primary:active,
.btn-primary:visited {
  background-color: $ColorLoopie;
}

.btn-primary:hover {
  background-color: $ColorBlue;
}

.btn-success,
.btn-success:active,
.btn-success:visited {
  background-color: $ColorGreen;
}


.btn-success:hover {
  background-color: $ColorGreen_Hover;
}

.btn-danger,
.btn-danger:visited {
  background-color: $ColorRed;
}

.btn-danger:hover {
  background-color: $ColorRed_Hover;
}

.flex-center {
  align-items: center;
  justify-content: center;
  padding-top: 3em;
  padding-bottom: 3em;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 1em;
  margin: 0 auto;

  img {
    width: 16em;
  }
}

.form-control-shared {
   background-color: transparent;
   border-radius: 10em;
   border-width: 0.108em;
   border-color: $ColorWhite;
   color: $ColorWhite;


}
