//
//   Variables should go here.
//

//Loopie Brand colors as of 18/9/2018
$ColorDark: #222627;
$ColorLoopie: #FFC700;
$ColorBlue: #0052CC;
$ColorGreen: #219653;
$ColorWhite: #FFFFFF;
$ColorRed: #D32F2F;
<<<<<<< HEAD
=======

>>>>>>> f1e77fd173424c68628df71b81dd30daaa243fdd


.text-light {
  color: $ColorWhite;
}

<<<<<<< HEAD
.text-dark {
  color: $ColorDark;
}

=======
>>>>>>> f1e77fd173424c68628df71b81dd30daaa243fdd
// color scheme with hovering
$ColorGreen_Hover: #12542E;
$ColorBlue_Hover: #00388C;
$ColorLoopie_Hover: #C19700;
$ColorRed_Hover: #AA2525;
