// Place all the styles related to the WelcomePage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'variables';



.btn-success,
.btn-success:active,
.btn-success:hover,
.btn-success:visited {
  background-color: $ColorGreen;
}

.btn-success:hover {
  background-color: $ColorGreen_Hover;
}

.btn-danger,
.btn-danger:active,
.btn-danger:visited {
  background-color: $ColorRed;
}

.btn-danger:hover {
  background-color: $ColorRed_Hover;
}


body {
  background-color: $ColorDark;
}

.flex-center {
  align-items: center;
  justify-content: center;
  padding-top: 3em;
  padding-bottom: 3em;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 1em;
  margin: 0 auto;

  img {
    width: 16em;
  }
}


//forms
.form-control {
   background-color: transparent;
   border-radius: 10em;
   border-width: 0.108em;
   border-color: $ColorWhite;
   margin-top: 1.25em;
   color: $ColorWhite;


.form-control:focus {
  border-color: $ColorLoopie;
  box-shadow: none;
}
