// Place all the styles related to the WelcomePage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";
@import 'variables';

//overridden variables go here

.btn-success,.btn-success:active, .btn-success:visited {
  background-color: $ColorGreen;
}

.btn-success:hover {
  background-color:$ColorGreen_Hover;
}

.btn-danger, .btn-danger:active, .btn-success:visited {
  background-color:$ColorRed;
}

.btn-danger:hover {
  background-color:$ColorRed_Hover;
}


//



body {
  background-color: $ColorDark;
}
