// Place all the styles related to the WelcomePage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";

//overridden variables go here

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: $ColorLoopie;
}

.btn-primary:hover {
    background-color: $ColorLoopie_Hover;
}

<<<<<<< HEAD
.btn-success, .btn-success:hover, .btn-success:active, .btn-success:visited {
    background-color: $ColorGreen;
}

.btn-success:hover, {
    background-color: $ColorGreen_Hover;
}

.btn-danger, .btn-danger:active, .btn-danger:visited {
    background-color: $ColorRed;
}

.btn-danger:hover {
    background-color: $ColorRed_Hover;
}
=======



>>>>>>> f1e77fd173424c68628df71b81dd30daaa243fdd

//

@import 'variables';

body {
  background-color: $ColorDark;
}
<<<<<<< HEAD
=======

>>>>>>> f1e77fd173424c68628df71b81dd30daaa243fdd


.flex-center {
  align-items: center;
  justify-content: center;
  padding-top: 3em;
  padding-bottom: 3em;
}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 1em;
  margin: 0 auto;
}
.form-signin img {
  width: 16em;
}

.form-control {
   background-color: transparent;
   border-radius: 10em;
   border-width: 0.105em;
   border-color: $ColorWhite;
   margin-top: 1.25em;
}
.form-control:focus {
  border-color: $ColorLoopie;
  box-shadow: none;
}
